#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: block;
  width: 100%;
  background-color: $color-blue-100;
  #navbar {
    margin: 0;
    padding: 0;
    background-color: $color-blue-100;
    max-width: 1600px;
    margin: 0 auto;
    z-index: 100;
    #header__logo {
      fill: #fff;
      height: 33px;
      width: 49px;
    }
    a {
      text-decoration: none;
      color: $color-white;
      padding: $pd-3;
      z-index: 1;
      transition: all 0.3s;
      &.navbar-brand__config {
        padding: 0 $pd-4;
        margin: 0;
        border: none;
      }
    }
    & > a:not(.navbar-brand__config),
    .navbar-collapse__config .nav-link {
      position: relative;
      &::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: $color-white;
        position: absolute;
        top: -100%;
        left: 0;
        z-index: -1;
        transition: all 0.3s;
      }
      &.active {
        color: $color-blue-100;
        .angle__rotate {
          transform: rotate(180deg);
          transition: all 0.3s;
        }
        &::before {
          top: 0;
        }
      }
      &:hover {
        color: $color-blue-100;
        &::before {
          top: 0;
        }
      }
    }

    & > a {
      border-right: $border-1;
      .angle__rotate {
        font-size: 15px;
        margin-left: $mg-1;
        transition: transform 0.3s;
      }
    }
    #vehicle-link {
      border-left: $border-1;
    }
    .navbar-collapse__config {
      display: block;
      margin-left: auto;
      ul {
        margin-left: auto;
        .nav-link__language {
          border-left: $border-1;
          border-right: $border-1;
        }
      }
    }
  }
}
